$Scissors-Gradient1: hsl(39, 89%, 49%);
$Scissors-Gradient2:hsl(40, 84%, 53%);
$Paper-Gradient1: hsl(230, 89%, 62%);
$Paper-Gradient2: hsl(230, 89%, 65%);
$Rock-Gradient1: hsl(349, 71%, 52%);
$Rock-Gradient2: hsl(349, 70%, 56%);
//$Lizard-Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
$Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
$Dark-Text: hsl(229, 25%, 31%);
$Score-Text: hsl(229, 64%, 46%);
$Header-Outline: hsl(217, 16%, 45%);
$Radial-Gradient1: hsl(214, 47%, 23%) ;
$Radial-Gradient2: hsl(237, 49%, 15%);
$back:hsl(237, 49%, 15%);

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    //background-image: repeating-radial-gradient(yellow 10%,pink);
    
    #container{
        background:radial-gradient(circle at top,$Radial-Gradient1,$Radial-Gradient2,black);
    }
}

#head{
    width:50%;
    margin:0 auto;
    display: flex;
    border:1px solid $Header-Outline;
    border-radius: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    margin-bottom: 3rem;

    #score{
        background-color: #fff;
        padding: 1rem 2.8rem;
        border-radius: 0.6rem;
        font-size: 1.3rem;
        text-align: center;
        color:$Header-Outline;  

        #score-no{
            font-size: 3.4rem;
        }
    }
}

#center-rules-display{
    margin: 9% 33%;
    z-index: 1;
    width: fit-content;
    position: absolute;
    top: 10px;
    // border: 11px solid white;
   

    .rulespage{
        display:none ;
        box-shadow: 1px 1px 10px black;
        border-radius: 1rem;
        background: #fff;
        padding: 1rem 1rem;
        

        #display-rules-head{
            display: flex;
            color:$back;
            margin-bottom: 2rem;
            font-size: 2.5rem;
            justify-content: space-between;
    
            #close{
                align-self: center;
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    
        #rules-img{
            padding: 2rem 4rem;
        }
    }
}

#center-selection{
    background-image: url("images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 18em;
    background-position-x: 148px;
    background-position-y: 70px;
    display: grid;
    width: 40%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
}

#after-selection{
    display: none;
    // display: grid;
    width: 40%;
    margin: 0 auto;
    grid-template-columns:1fr 200px 1fr;

    button{
        cursor:not-allowed;
        
        img{
            cursor: not-allowed;
        }
    }

    p{
        color: white;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 23px;

    }

    #the-house-picked{
        grid-column:3;
    }

    #computer{
        padding: 90px;
        border-radius: 50%;
        opacity: 0.4;
        background:rgba(23, 23, 51, 0.842)
    }
}

    .border{
        width:fit-content;
        height: fit-content;
        border-radius: 50%;
        padding:1.5rem;
        
        .selection{
            width: fit-content;
            border-radius: 50%;
            background: #fff;
            padding:3rem;
            box-shadow:2px 7px inset rgb(194, 194, 194);
           
            button{
                background: none;
                border:none;
                cursor: pointer;

                img{
                    position: relative;
                    cursor: pointer;
                }
            }
        }
    }

    #rock-div{
        grid-row:2;
        grid-column:2;
        background:$Rock-Gradient2;
        box-shadow: 2px 6px  $Rock-Gradient1;
    }

    #scissors-div{
        grid-column: 3;
        background:$Scissors-Gradient1;
        box-shadow: 2px 6px  $Scissors-Gradient2
    }

    #paper-div{
        background:$Paper-Gradient1;
        box-shadow: 2px 6px  $Paper-Gradient2
    }




#footer{
    // border:1px solid yellow;
    // width:fit-content;
    text-align: right;
    padding-bottom: 1px;
    

    #rules{
        padding: 0.5rem 2rem;
        border-radius: 0.4rem;
        border:1px solid $Header-Outline;
        background: none;
        color:white;    
    }

    #rules:hover{
        cursor: pointer;
    }

}

