$Scissors-Gradient1: hsl(39, 89%, 49%);
$Scissors-Gradient2:hsl(40, 84%, 53%);
$Paper-Gradient1: hsl(230, 89%, 62%);
$Paper-Gradient2: hsl(230, 89%, 65%);
$Rock-Gradient1: hsl(349, 71%, 52%);
$Rock-Gradient2: hsl(349, 70%, 56%);
//$Lizard-Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
$Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
$Dark-Text: hsl(229, 25%, 31%);
$Score-Text: hsl(229, 64%, 46%);
$Header-Outline: hsl(217, 16%, 45%);
$Radial-Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
$back:hsl(237, 49%, 15%);

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    background-color: $back;
}

#head{
    width:50%;
    margin:0 auto;
    display: flex;
    border:1px solid $Header-Outline;
    border-radius: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    margin-bottom: 3rem;

    #score{
        background-color: #fff;
        padding: 1rem 2.8rem;
        border-radius: 0.6rem;
        font-size: 1.3rem;
        text-align: center;
        color:$Header-Outline;  

        #score-no{
            font-size: 3.4rem;
        }
    }
}

#center-rules-display{
    margin: 0 auto;
    z-index: 1;
    width: fit-content;

    .rulespage{
        display: none;
        background: #fff;
        padding: 1.5rem 1.5rem;
        border-radius: 1rem;

        #display-rules-head{
            display: flex;
            color:$back;
            margin-bottom: 2rem;
            font-size: 2.5rem;
            justify-content: space-between;
    
            #close{
                align-self: center;
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    
        #rules-img{
            padding: 2rem 4rem;
        }
    }
}

#center-selection{
    background-image: url("images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 18em;
    background-position-x: 148px;
    background-position-y: 70px;
    display: grid;
    width: 40%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .border{
        width:fit-content;
        height: fit-content;
        border-radius: 50%;
        padding:1.5rem;
        
        .selection{
            width: fit-content;
            border-radius: 50%;
            background: #fff;
            padding:3rem;
           
            button{
                background: none;
                border:none;
                cursor: pointer;
            }
        }
    }

    #rock-div{
        grid-row:2;
        grid-column:2;
        background:$Rock-Gradient2;
    }

    #scissors-div{
        grid-column: 3;
        background:$Scissors-Gradient1;
    }

    #paper-div{
        background:$Paper-Gradient1;
    }

}


#footer{
    border:1px solid $Header-Outline;
    width:fit-content;
    position: absolute;
    right: 10px;
    border-radius: 0.4rem;

    #rules{
        padding: 0.5rem 2rem;
        background: none;
        border:none;
        color:white;    
    }

    #rules:hover{
        cursor: pointer;
    }

}

